# Created by .ignore support plugin (hsz.mobi)
### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.gitignore
.idea/.gitignore
.idea/.name
.idea/codeStyles/
.idea/misc.xml
.idea/modules.xml
.idea/saveactions_settings.xml
.idea/test.iml
build/
.idea/vcs.xml
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdC/tmp/
cmake-build-debug/CMakeFiles/3.15.3/CompilerIdCXX/tmp/
cmake-build-debug/CMakeFiles/CMakeTmp/
debug/CMakeCache.txt
debug/CMakeFiles/3.15.3/CMakeCCompiler.cmake
debug/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
debug/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
debug/CMakeFiles/3.15.3/CMakeRCCompiler.cmake
debug/CMakeFiles/3.15.3/CMakeSystem.cmake
debug/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
debug/CMakeFiles/3.15.3/CompilerIdC/tmp/
debug/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
debug/CMakeFiles/3.15.3/CompilerIdCXX/tmp/
debug/CMakeFiles/CMakeDirectoryInformation.cmake
debug/CMakeFiles/CMakeOutput.log
debug/CMakeFiles/CMakeTmp/
debug/CMakeFiles/Makefile.cmake
debug/CMakeFiles/Makefile2
debug/CMakeFiles/TargetDirectories.txt
debug/CMakeFiles/TestProject.dir/CXX.includecache
debug/CMakeFiles/TestProject.dir/DependInfo.cmake
debug/CMakeFiles/TestProject.dir/build.make
debug/CMakeFiles/TestProject.dir/cmake_clean.cmake
debug/CMakeFiles/TestProject.dir/depend.internal
debug/CMakeFiles/TestProject.dir/depend.make
debug/CMakeFiles/TestProject.dir/flags.make
debug/CMakeFiles/TestProject.dir/includes_CXX.rsp
debug/CMakeFiles/TestProject.dir/link.txt
debug/CMakeFiles/TestProject.dir/linklibs.rsp
debug/CMakeFiles/TestProject.dir/objects1.rsp
debug/CMakeFiles/TestProject.dir/progress.make
debug/CMakeFiles/clion-environment.txt
debug/CMakeFiles/clion-log.txt
debug/CMakeFiles/cmake.check_cache
debug/CMakeFiles/progress.marks
debug/Makefile
debug/TestProject.cbp
debug/cmake_install.cmake
release/CMakeCache.txt
release/CMakeFiles/3.15.3/CMakeCCompiler.cmake
release/CMakeFiles/3.15.3/CMakeCXXCompiler.cmake
release/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_C.bin
release/CMakeFiles/3.15.3/CMakeDetermineCompilerABI_CXX.bin
release/CMakeFiles/3.15.3/CMakeRCCompiler.cmake
release/CMakeFiles/3.15.3/CMakeSystem.cmake
release/CMakeFiles/3.15.3/CompilerIdC/CMakeCCompilerId.c
release/CMakeFiles/3.15.3/CompilerIdC/tmp/
release/CMakeFiles/3.15.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
release/CMakeFiles/3.15.3/CompilerIdCXX/tmp/
release/CMakeFiles/CMakeDirectoryInformation.cmake
release/CMakeFiles/CMakeOutput.log
release/CMakeFiles/CMakeTmp/
release/CMakeFiles/Makefile.cmake
release/CMakeFiles/Makefile2
release/CMakeFiles/TargetDirectories.txt
release/CMakeFiles/TestProject.dir/CXX.includecache
release/CMakeFiles/TestProject.dir/DependInfo.cmake
release/CMakeFiles/TestProject.dir/build.make
release/CMakeFiles/TestProject.dir/cmake_clean.cmake
release/CMakeFiles/TestProject.dir/depend.internal
release/CMakeFiles/TestProject.dir/depend.make
release/CMakeFiles/TestProject.dir/flags.make
release/CMakeFiles/TestProject.dir/includes_CXX.rsp
release/CMakeFiles/TestProject.dir/link.txt
release/CMakeFiles/TestProject.dir/linklibs.rsp
release/CMakeFiles/TestProject.dir/objects1.rsp
release/CMakeFiles/TestProject.dir/progress.make
release/CMakeFiles/clion-environment.txt
release/CMakeFiles/clion-log.txt
release/CMakeFiles/cmake.check_cache
release/CMakeFiles/progress.marks
release/Makefile
release/TestProject.cbp
release/cmake_install.cmake
