# Created by .ignore support plugin (hsz.mobi)
### C++ template
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.gitignore
.idea/.gitignore
.idea/.name
.idea/codeStyles/
.idea/misc.xml
.idea/modules.xml
.idea/saveactions_settings.xml
.idea/test.iml
.idea/vcs.xml
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.17.3/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.17.3/CMakeRCCompiler.cmake
cmake-build-debug/CMakeFiles/3.17.3/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdC/tmp/
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.17.3/CompilerIdCXX/tmp/
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/CMakeTmp/
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/SFMLRPG.dir/CXX.includecache
cmake-build-debug/CMakeFiles/SFMLRPG.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/SFMLRPG.dir/build.make
cmake-build-debug/CMakeFiles/SFMLRPG.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/SFMLRPG.dir/depend.internal
cmake-build-debug/CMakeFiles/SFMLRPG.dir/depend.make
cmake-build-debug/CMakeFiles/SFMLRPG.dir/flags.make
cmake-build-debug/CMakeFiles/SFMLRPG.dir/includes_CXX.rsp
cmake-build-debug/CMakeFiles/SFMLRPG.dir/link.txt
cmake-build-debug/CMakeFiles/SFMLRPG.dir/linklibs.rsp
cmake-build-debug/CMakeFiles/SFMLRPG.dir/objects1.rsp
cmake-build-debug/CMakeFiles/SFMLRPG.dir/progress.make
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/clion-log.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/Makefile
cmake-build-debug/SFMLRPG.cbp
cmake-build-debug/cmake_install.cmake
cmake-build-release/CMakeCache.txt
cmake-build-release/CMakeFiles/3.17.3/CMakeCCompiler.cmake
cmake-build-release/CMakeFiles/3.17.3/CMakeCXXCompiler.cmake
cmake-build-release/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_C.bin
cmake-build-release/CMakeFiles/3.17.3/CMakeDetermineCompilerABI_CXX.bin
cmake-build-release/CMakeFiles/3.17.3/CMakeRCCompiler.cmake
cmake-build-release/CMakeFiles/3.17.3/CMakeSystem.cmake
cmake-build-release/CMakeFiles/3.17.3/CompilerIdC/CMakeCCompilerId.c
cmake-build-release/CMakeFiles/3.17.3/CompilerIdC/tmp/
cmake-build-release/CMakeFiles/3.17.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-release/CMakeFiles/3.17.3/CompilerIdCXX/tmp/
cmake-build-release/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-release/CMakeFiles/CMakeOutput.log
cmake-build-release/CMakeFiles/CMakeTmp/
cmake-build-release/CMakeFiles/Makefile.cmake
cmake-build-release/CMakeFiles/Makefile2
cmake-build-release/CMakeFiles/SFMLRPG.dir/CXX.includecache
cmake-build-release/CMakeFiles/SFMLRPG.dir/DependInfo.cmake
cmake-build-release/CMakeFiles/SFMLRPG.dir/build.make
cmake-build-release/CMakeFiles/SFMLRPG.dir/cmake_clean.cmake
cmake-build-release/CMakeFiles/SFMLRPG.dir/depend.internal
cmake-build-release/CMakeFiles/SFMLRPG.dir/depend.make
cmake-build-release/CMakeFiles/SFMLRPG.dir/flags.make
cmake-build-release/CMakeFiles/SFMLRPG.dir/includes_CXX.rsp
cmake-build-release/CMakeFiles/SFMLRPG.dir/link.txt
cmake-build-release/CMakeFiles/SFMLRPG.dir/linklibs.rsp
cmake-build-release/CMakeFiles/SFMLRPG.dir/objects1.rsp
cmake-build-release/CMakeFiles/SFMLRPG.dir/progress.make
cmake-build-release/CMakeFiles/TargetDirectories.txt
cmake-build-release/CMakeFiles/clion-environment.txt
cmake-build-release/CMakeFiles/clion-log.txt
cmake-build-release/CMakeFiles/cmake.check_cache
cmake-build-release/CMakeFiles/progress.marks
cmake-build-release/Makefile
cmake-build-release/SFMLRPG.cbp
cmake-build-release/cmake_install.cmake
cmake-build-release/CMakeFiles/SFMLRPG.dir/stP1kAlM
cmake-build-release/Config/
cmake-build-debug/Config/
cmake-build-debug/Fonts/
cmake-build-release/Fonts/
!cmake-build-debug/Config
!cmake-build-release/Config
!cmake-build-debug/Fonts
!cmake-build-release/Fonts
